In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID",axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [2]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

In [3]:
def getEntropy(df, feature) :
    feature = df[feature].value_counts() # class label 분포
    
    entropy = 0 # entropy 초기화
    for value in feature.values: # label의 각 class의 개수
        # entropy 공식
        entropy -= (value / feature.values.sum()) * np.log2(value / feature.values.sum()) 
    
    return(entropy)

In [4]:
getEntropy(df, "class_buys_computer")

0.9402859586706311

In [5]:
def getGainA(df, feature) :
    result = {} # 결과를 담을 dict
    info_D = getEntropy(df, feature) # 목표변수에 대한 Entropy 를 구하기
    columns = list(df.loc[:, df.columns != feature]) # 목표변수(feature)를 제외한 나머지 변수들의 변수명을 리스트 형태로 저장

    for i, col in enumerate(columns): # column들에 대한 반복문 및 인덱스를 가져오기 위한 enumerate문
        vals, counts= np.unique(df[col], return_counts=True) # column에 해당하는 값들의 unique한 값과 그 unique한 값들의 개수를 반환하여 vals, counts에 담음
        info_Di = info_D # 각 column에 대한 info_Di를 구하기 위해 info_D값을 복사
        
        for val, cnt in zip(vals, counts): # column의 unique한 값들과 그 값에 해당하는 개수에 대한 반복문
            d = df[df[col] == val] # column내 unique한 값에 해댕하는 데이터프레임을 뽑아냄
            info_Di -= (cnt/counts.sum() * getEntropy(d, feature)) # info_Di의 공식
            
        result[col] = info_Di # column에 해당하는 info_Di의 값을 dictionary에 담음
        
    return(result)

In [6]:
getGainA(df, "class_buys_computer")

{'age': 0.24674981977443933,
 'income': 0.02922256565895487,
 'student': 0.15183550136234164,
 'credit_rating': 0.04812703040826949}

## 결과 확인하기

In [7]:
my_dict = getGainA(df, "class_buys_computer")
def f1(x):
    return my_dict[x]
key_max = max(my_dict.keys(), key=f1)
print('정보 획득이 가장 높은 변수는',key_max, "이며 정보 획득량은", my_dict[key_max], "이다.")

정보 획득이 가장 높은 변수는 age 이며 정보 획득량은 0.24674981977443933 이다.